//	GLOBAL STYLES //
html, body, .container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Oxygen";
	font-size: $base_html_font_size;
	background: $tertiary_color_one;
	text-align: center;
}
body {
	font-family: "Oxygen";
	margin: 7px;
	background: #fff;
}
@media screen and (max-width: 900px) {
	html { font-size: 16px; }
}

@media screen and (max-width: 400px) {
	html { font-size: 18px; }
}

// TYPOGRAPHY 
a {
	color: $black_title;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}