//	GLOBAL STYLES //
html, body, .container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Oxygen";
	font-size: $base_html_font_size;
	background: $tertiary_color_one;
	text-align: center;
}
body {
	font-family: "Oxygen";
	margin: 7px;
	background: $tertiary_color_one;
}
main {
	overflow: hidden;
	margin: 7px;
}
section {
	background: #fff;
}
section .row {
	margin: 0;
}
.row {
	margin: 0;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}
div.col-sm-12.col-md-12.col-lg-12 {
	padding: 0;
}
div.col-sm-12.col-md-3.col-lg-3.gallery_img {
	padding: 0;
}
@media screen and (max-width: 900px) {
	html { font-size: 16px; }
}

@media screen and (max-width: 400px) {
	html { font-size: 18px; }
}

// TYPOGRAPHY 
a {
	color: $black_title;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

h2 {
	text-transform: uppercase;
	@include rem(16);;
	letter-spacing: 0.2em;
	margin: 80px 0 30px;
}
h2 ~ p {
	@include rem(15);;
	margin: 0 9px;
	text-align: left;
	line-height: 175%;
}

h1 {
	background: $primary_color;
	padding: 50px 10px;
	@include rem(24);;
	letter-spacing: 0.2em;
	margin: 0;
	hr {
	border: 1.5px solid $secondary_color;
	margin: 20px auto 0;
	width: 30px;

	}
}

//BANNER IMAGES 

.banner img {
	max-width: 100%;
	height: auto;
	padding: 0px;
	margin: 75px auto;
}