//	GLOBAL VARIABLES //
$primary_color: #e3edee;
$secondary_color: #f64747;
$tertiary_color_one: #e4e7e9;
$tertiary_color_two: #eceeef;
$black_title: #2a2a2a;
$black_bold: #333;
$gray: #888;
$light_gray: #ddd;
$brand: #889a9b;
//	TYPOGRAPHY VARIABLES //
$base_html_font_size: 18;

//	PAGE SPECIFIC VARIABLES //